openapi: 3.0.4
info:
  title: Sunrise Sunset
  description: >-
    Sunrise Sunset is a simple tool for getting the sunrise and sunset times. It
    returns the sunrise and sunset times for a given location and date.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/sunrisesunset:
    get:
      summary: Get Sunrise Sunset
      description: Get the sunrise and sunset times for a given location
      operationId: sunrisesunset
      parameters:
        - name: lat
          in: query
          schema:
            type: number
          required: true
          description: The latitude of the location
          example: 36.72016
        - name: lon
          in: query
          schema:
            type: number
          required: true
          description: The longitude of the location
          example: -4.42034
        - name: date
          in: query
          schema:
            type: string
          required: false
          description: >-
            The date for which you want to get the sunrise and sunset times
            (e.g., MM-DD-YYYY : 01-01-2022)
          example: 01-16-2026
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  solarNoon: '2025-12-16T12:14:40.51Z'
                  sunrise: '2025-12-16T07:24:56.165Z'
                  sunset: '2025-12-16T17:04:24.854Z'
                  sunriseEnd: '2025-12-16T07:27:58.828Z'
                  sunsetStart: '2025-12-16T17:01:22.192Z'
                  dawn: '2025-12-16T06:56:02.774Z'
                  dusk: '2025-12-16T17:33:18.245Z'
                  nauticalDawn: '2025-12-16T06:23:38.134Z'
                  nauticalDusk: '2025-12-16T18:05:42.886Z'
                  nightEnd: '2025-12-16T05:52:07.048Z'
                  night: '2025-12-16T18:37:13.971Z'
                  goldenHourEnd: '2025-12-16T08:05:08.406Z'
                  goldenHour: '2025-12-16T16:24:12.613Z'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
